#box{
    background-color: darkorange;
    color: rgb(239, 249, 244);
    text-align: center;
}
#boox{
    background-color: rgb(221, 228, 218);
    color: rgb(12, 55, 244);
    text-align: center;
}
#booox{
    background-color: rgb(66, 231, 10);
    color: rgb(239, 249, 244);
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #0c192c;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position:relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: darkorange;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #9b7212cc,
    0 0 50px darkorange,
    0 0 100px darkorange;
    animation: animate 15s linear infinite;
    animation-duration: calc(100s /var(--i));
}
.bubbles span:nth-child(even){
    background: rgb(0, 100, 0);
    box-shadow: 0 0 0 10px rgb(88, 227, 88),
    0 0 50px rgb(88, 227, 88),
    0 0 100px rgb(88, 227, 88);
}
/* .bubbles span:nth-child(odd){
    background: rgb(0, 100, 0);
    box-shadow: 0 0 0 10px rgb(88, 227, 88),
    0 0 50px rgb(88, 227, 88),
    0 0 100px rgb(88, 227, 88);
} */
 @keyframes animate
{
    0%{
        transform: translateY(100vh) scale(0);
    }
    1000%{
        transform: translateY(100vh) scale(0);
    }
} 
